/* Avatar Circle Style */
.avatar-circle {
  width: 48px;
  height: 48px;
  /* background-color: #f0fdf4 !important; Light green background */
}

/* Floating Button Hover Animation */
.hover-scale {
  transition: transform 0.2s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.1);
}

