.payments-container {
 
  margin: auto;
  padding: 20px;
}

.subtitle {
  color: var(--text-secondary-color);
  margin-bottom: 20px;
}

/* Current Month */
.current-card {
  background: #ffffff;
  border: 1px solid #d9efe7;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(31, 122, 90, 0.08);
}
.card-h4{
  font-size: 19px;
}
.card-span{
  color: var(--text-secondary-color);
  font-size: 13px;
  
}
.amount-p, .due-date{
  color: var(--text-secondary-color);
  font-size: 15px;
}
.card-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  color: #1f7a5a;
  font-size: 30px;

}
.icon-holder{
  background-color: #deeee9;
  border-radius: 8px;
  padding: 8px;
}

.amount-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

}



.paid {
  background: #e6f6ef;
  color: #1f7a5a;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px !important;
}

.pay-btn {
  width: 100%;
  background: #1f7a5a;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background ease-in-out 0.2s;
}

.pay-btn:hover{
  background-color: #268b68;
}
/* History */
.history-title {
  margin: 25px 0 10px;
}

.history-card {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #e3e7e5 !important;
  padding: 15px;
  border-radius: 12px;
    box-shadow: 0 4px 12px rgba(31, 122, 90, 0.08);
transition: ease-in-out 0.3s;
  margin-bottom: 12px;
}
.history-card:hover{
  cursor: text;
  box-shadow: 0 4px 12px rgba(0, 10, 6, 0.167);

}

.right {
  text-align: right;
}
.item-month{
  font-size: 19px;
}
.item-date{
  font-size: 14px !important;
  color: var(--text-secondary-color);
}
@media(max-width:768px){
  .due-date, .amount-p{
    font-size: 12.5px;
  }
  .item-month{
    font-size: 16px;
  }
  .item-date{
    font-size: 13px !important;
  }
}