.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--accent-color); /* Background color of the splash screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it sits on top of everything */
}

.preloader {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgb(15, 207, 124); /* change color if needed */
  border-radius: 50%;
  animation: shuffle 1.4s infinite ease-in-out;
}

.d1 {
  animation-delay: 0s;
}

.d2 {
  animation-delay: 0.2s;
}

.d3 {
  animation-delay: 0.4s;
}

@keyframes shuffle {
  0% {
    transform: translatey(0);
    opacity: 0.6;
  }
  50% {
    transform: translatey(18px);
    opacity: 1;
  }
  100% {
    transform: translatey(0);
    opacity: 0.6;
  }
}
