.profile-wrapper{
    background-color: white;
    border:  1px solid rgb(226, 226, 226);
    padding: 20px;

}
.container{
    max-width: 1100px !important;
}
.icon-wrapper{
    background-color: rgba(5, 157, 5, 0.176);
    padding: 10px;
    
}
.home{
    border-right: 1px solid rgb(213, 211, 211) !important ;

}
.months-paid{
    color: var(--accent-color);
   
}
.family-num{
    color: #c7a24d;
}
.months-paid, .family-num{
     font-size: 21px;
}
.family-txt, .months-txt{
    color: var(--text-secondary-color);
}
.setting-ul{
    list-style: none;
    
}
.setting-li{
    border-bottom: 1px solid rgb(218, 215, 215);
   
    
}
.setting-icon{
    font-size: 12px !important;
}
.card-mine{
    border:  1px solid rgb(228, 227, 227);
    border-radius: 12px;
    padding: 10px;
}