.logo{
    background-color: var(--accent-color);
    color: white;
    display: flex;
    align-items: center;
    padding: 8px;
}
.nav-container{
    border-bottom: 1px solid var(--border-color);
}
.logo-p{
    color: var(--text-secondary-color);
    font-size: 13px;
}
@media(max-width:768px){
    .logo-p{
        font-size: 10px;
    }
    .logo-name{
        font-size: 12px;
    }
}