.sidebar{
    border-right: 1px solid var(--border-color);
    width: 20vw;
    height: 100vh;
}
.side-btn{
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 220px;
    font-weight: normal;
    background:none;
    transition: ease-in-out 0.2s;
}
.side-btn:hover, .side-btn:active{
    background-color: var(--accent-color);
    color: white;
}
/* Offcanvas.css */

.sidebar {
    top: 0;
    left: -100% !important;       /* Force hidden off-screen */
    width: auto;                 /* Must have a width */
    height: 100vh;
    background-color: #ffffff !important; 
    transition: left 0.3s ease-in-out;
    border-right: 1px solid #ddd;
    

}

/* 2. OPEN STATE */
/* This class is added by React when button is clicked */
.sidebar.show {
    left: 0 !important; /* Slide onto screen */
}

/* 3. DESKTOP STYLES (Screen > 768px) */
@media (min-width: 768px) {
    .sidebar {
        /* position: relative !important; Sit next to content */
        left: 0 !important;            /* Always visible */
        width: auto;                   /* Let content dictate width */
        height: 100vh;
        /* z-index: 1 !important;         Reset priority */
        box-shadow: none;
        transform: none;
    }
}
