:root{
    --text-primary-color:#0000;
    --text-secondary-color: #768393;
    --accent-color: #1a8754;
    --border-color:rgb(211, 210, 210);
    --background-color:#f3f7f4;
    --link-primary:#5683e9;
}

body{
    font-family: 'Roboto',Arial, Helvetica, sans-serif  !important;
    background-color: var(--background-color) !important;
}
.btn-primary{
    background-color:  #1a8754;
    color: white;
}
p{
  margin: 0 !important;
}
.header-size{
    font-size: 25px !important;
}
.header-sub-txt-size{
    font-size: 15px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.pending {
  background: #fff1d6;
  color: #c28a00;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}