
.user-name{
    font-size: 13px;
    font-weight: bold;
}
.designation{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary-color);
}
@media(max-width:768px){
    .user-name{
        font-size: 10px;

    }
    .designation{
        font-size: 9px;
    }
}